[push]
    default = current
[alias]
    amend = commit --amend --no-edit
    ci = commit
    di = diff
    force = push --force-with-lease
    h = help
    st = status
    tug = !git pull && git push
    update-fork = "!f() { git push \"$2\" \"refs/remotes/$1/*:refs/heads/*\"; }; f"
    wat = log --graph --decorate --oneline
[color]
    diff = auto
    status = auto
    branch = auto
[color "branch"]
    current = cyan reverse
    local = cyan
    remote = red
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = blue bold
    changed = green bold
    untracked = red bold
[core]
    excludesfile = ~/.gitignore_global
